<!Doctype html>
<html>
    <head>
        <title>
            Login
        </title>
    </head>
    <Body>
        <form>
        <table>
            <tr>
                <th>Login</th>
            </tr>
            <tr>
                <td>Username : </td>
                <td><input type="email" name="username"></td>
            </tr>
            <tr>
                <td>Password  : </td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td><input type="submit" value="submit"></td>
            </tr>
        </table>
        </form>
    </Body>
</html>